main {
    display: flex;
    min-height: calc(100vh - 178.41px);
    >div {
        flex: 1 1 20%;
    }
    .left {
        padding: $space-large 0;
        text-align: center;
        .left__content {
            position: sticky;
            top: 48px;
            .user_icon {
                margin: $space-small auto;
                position: relative;
                height: 100px;
                width: 100px;
                img {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    -o-object-fit: cover;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
            .name {
                margin: $space-small 0 $space 0;
                font-size: 20px;
                font-weight: bold;
            }
            .menu {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: $space;
                .menu__item {
                    padding: $space-tiny $space-small;
                    width: fit-content;
                    border-radius: $space;
                    color: $color-primary;
                    font-weight: bold;
                    &:hover {
                        background-color: lighten($color-tertiary, 60);
                        cursor: pointer;
                    }
                }
            }
        }
        
    }
    .content {
        background-color: $color-secondary;
        flex: 1 1 40%;
        padding: $space;
        
    }
}