main {
    min-height: calc(100vh - 141.41px);
    @include tablet() {
       display: flex; 
    }
    >div {
        @include tablet() {
            flex: 1 1 20%;
        }
    }
    > .leftSidebar {
        padding: $space-large 0;
        padding-left: $space;
        text-align: center; 
        display: none;
        @include tablet() {
            display: block;
        }
        .leftSidebar__content {
            position: sticky;
            top: 48px;
            .user_icon {
                z-index: 1;
                margin: $space-small auto;
                position: relative;
                height: 100px;
                width: 100px;
                clip-path: polygon(100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px, 10px 0);
                background-color: $color-primary;
                &::before {
                    content: "";
                    position: absolute;
                    width: calc(100% - 4px);
                    height: calc(100% - 4px);
                    top: 2px;
                    left: 2px;
                    clip-path: polygon(100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px, 10px 0);
                    background-color: $color-white;
                }
                img {
                    position: absolute;
                    width: calc(100% - 4px);
                    height: calc(100% - 4px);
                    top: 2px;
                    left: 2px;
                    -o-object-fit: cover;
                    object-fit: cover;
                    clip-path: polygon(100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px, 10px 0);
                }
            }
            .name {
                position: relative;
                max-width: 250px;
                margin: -60px auto $space auto;
                padding-top: 60px;
                padding-bottom: $space;
                clip-path: polygon(100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px, 10px 0);
                background-color: $color-primary;
                display: flex;
                flex-direction: column;
                gap: $space-small;
                &::before {
                    z-index: -1;
                    content: "";
                    position: absolute;
                    width: calc(100% - 4px);
                    height: calc(100% - 4px);
                    top: 2px;
                    left: 2px;
                    clip-path: polygon(100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px, 10px 0);
                    background-color: $color-white;
                }
                span {
                    font-size: 20px;
                    font-weight: bold;
                }
                hr {
                    border-top: 1px solid $color-primary;
                    width: 80%;
                    margin: 0 auto;
                }
            }
            .menu {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: $space;
                max-width: 170px;
                margin: 0 auto;
                .c-button {
                    width: 100%;
                    .left {
                        flex: 1 1 0;
                    }
                }
            }
        }
    }
    > .content {
        flex: 1 1 0;
        padding: 24px 0;
        @include tablet() {
            flex: 1 1 40%;
            padding: $space;
        }
    }
    > .rightSidebar {
        display: none;
        @include tablet() {
            display: block;
        }
    }
}
.mobile-menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: $space 0;
    background: linear-gradient(359deg, rgb(78 81 102) 50%, rgba(78, 81, 102, 0.5));
    z-index: 3;
    @include tablet() {
        display: none;
    }
}