.Page_Settings {
    .content {
        position: relative;
        background-color: $color-secondary;
        flex: 1 1 40%;
        padding: $space;
        .settings {
            background-color: $color-white;
            border-radius: $space-small;
            display: flex;
            flex-direction: column;
            gap: $space-small;
            padding: $space-small;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            h1 {
                white-space: nowrap;
            }
            .profil__image {
                position: relative;
                margin: 0 auto;
                height: 150px;
                width: 150px;
                border-radius: 50%;
                border: 1px solid black;
                img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    -o-object-fit: cover;
                    object-fit: cover;
                    border-radius: 50%;
                }
                .user_image_btn {
                    position: absolute;
                    bottom: 6%;
                    right: 6%;
                    background-color: black;
                    color: white;
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            .form-row {
                display: flex;
                flex-direction: column;
                gap: $space-tiny;
                input {
                    flex: 1 0 0;
                    padding: $space-tiny;
                    border: 1px solid $color-tertiary;
                    border-radius: $space-small;
                }
                button {
                    margin: 0 auto;
                }
            }
        }
    }
}