.Page_Auth {
    height: 100vh;
    .form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        gap: $space;
        background-color: white;
        width: fit-content;
        padding: 24px;
        clip-path: polygon(100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px, 10px 0);
        background-color: $color-primary;
        &::before {
            z-index: -1;
            content: "";
            position: absolute;
            width: calc(100% - 4px);
            height: calc(100% - 4px);
            top: 2px;
            left: 2px;
            clip-path: polygon(100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px, 10px 0);
            background-color: $color-white;
        }
        .form__title {
            color: $color-primary;
            font-weight: bold;
            text-align: center;
        }
        .form__subtitle {
            text-align: center;
            .form__action {
                color: $color-primary;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .form-row {
            display: flex;
            gap: $space;
            input {
                flex: 1 0 0;
                padding: $space-tiny;
                border: 1px solid $color-tertiary;
                border-radius: $space-small;
            }
            .c-button {
                margin: 0 auto;
            }
        }
    }
}