.Page_Profil {

    .content {
        .profil__banner {
            position: relative;
            display: flex;
            @include tablet() {
                margin: 0 -$space;
            }
            &::before {
                content: "";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: $color-primary;
                clip-path: polygon(100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0 15px, 15px 0);
            }
            &::after {
                content: "";
                position: absolute;
                top: 4px;
                left: 4px;
                height: calc(100% - 8px);
                width: calc(100% - 8px);
                background-color: $color-white;
                clip-path: polygon(100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0 15px, 15px 0);
            }
            .profil__banner__picture {
                z-index: 1;
                position: relative;
                display: flex;
                align-items: center;
                .profil__banner__picture__img {
                    position: relative;
                    height: 100px;
                    width: 100px;
                    margin: $space-small;
                    clip-path: polygon(100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px, 10px 0);
                    background-color: $color-primary;
                    &::before {
                        content: "";
                        position: absolute;
                        width: calc(100% - 4px);
                        height: calc(100% - 4px);
                        top: 2px;
                        left: 2px;
                        clip-path: polygon(100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px, 10px 0);
                        background-color: $color-white;
                    }
                    img {
                        position: absolute;
                        width: calc(100% - 4px);
                        height: calc(100% - 4px);
                        top: 2px;
                        left: 2px;
                        -o-object-fit: cover;
                        object-fit: cover;
                        clip-path: polygon(100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px, 10px 0);
                    }
                }
                
            }
            .profil__banner__content {
                flex: 1 1 0;
                z-index: 1;
                padding: 24px 12px 24px 0;
                display: flex;
                flex-direction: column;
                gap: 24px;
                @include tablet() {
                    padding: $space;
                }
                .profil__banner__content__infos {
                    span {
                        font-weight: bold;
                    }
                }
                .profil__banner__content__buttons {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    gap: $space;
                    @include wide() {
                        flex-direction: row;
                    }
                }
            }
            
        }
        
    }
}