.Page_Home, .Page_Profil {

    > .content .content {
        flex: 1 1 40%;
        padding: $space;
        display: flex;
        flex-direction: column;
        gap: $space-large;
        .new_post{
            position: relative;
            background-color: $color-primary;
            display: flex;
            gap: $space-small;
            padding: $space-small;
            clip-path: polygon(100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0 15px, 15px 0);
            &::before {
                content: "";
                position: absolute;
                top: 4px;
                left: 4px;
                height: calc(100% - 8px);
                width: calc(100% - 8px);
                background-color: $color-white;
                clip-path: polygon(100% 0, 100% calc(100% - 15px), calc(100% - 15px) 100%, 0 100%, 0 15px, 15px 0);
            }
            .new_post__left {
                z-index: 1;
                .user_icon {
                    position: relative;
                    height: 50px;
                    width: 50px;
                    clip-path: polygon(100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px, 10px 0);
                    background-color: $color-primary;
                    &::before {
                        content: "";
                        position: absolute;
                        width: calc(100% - 4px);
                        height: calc(100% - 4px);
                        top: 2px;
                        left: 2px;
                        clip-path: polygon(100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px, 10px 0);
                        background-color: $color-white;
                    }
                    img {
                        position: absolute;
                        width: calc(100% - 4px);
                        height: calc(100% - 4px);
                        top: 2px;
                        left: 2px;
                        -o-object-fit: cover;
                        object-fit: cover;
                        clip-path: polygon(100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px, 10px 0);
                    }
                }
            }
            .new_post__content {
                z-index: 1;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: $space-small;
                textarea {
                    padding: $space-small;
                    width: -webkit-fill-available;
                }
                .postPreviewImg {
                    position: relative;
                    display: none;
                    .postPreviewImgRemove {
                        position: absolute;
                        top: 0;
                        right: 0;
                        background-color: $color-white;
                        padding: 2px;
                        border-radius: 50%;
                    }
                    img {
                        max-width: 100%;
                        width: fit-content;
                        max-height: 280px;
                        margin: 0 auto;
                    }
                }
                .new_post__actions {
                    display: flex;
                    justify-content: space-between;
                    .icons {
                        display: flex;
                        gap: $space-tiny;
                        i {
                            font-size: 25px;
                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
        .post_list {
            display: flex;
            flex-direction: column;
            gap: 40px;
        }
    }
}