.Page_Settings {
    .content {
        position: relative;
        flex: 1 1 40%;
        padding: $space;
        .settings {
            display: flex;
            flex-direction: column;
            gap: $space-small;
            padding: $space-small;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            clip-path: polygon(100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px, 10px 0);
            background-color: $color-primary;
            &::before {
                z-index: -1;
                content: "";
                position: absolute;
                width: calc(100% - 4px);
                height: calc(100% - 4px);
                top: 2px;
                left: 2px;
                clip-path: polygon(100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px, 10px 0);
                background-color: $color-white;
            }
            h1 {
                white-space: nowrap;
            }
            .profil__image {
                position: relative;
                margin: 0 auto;
                height: 150px;
                width: 150px;
                &::before {
                    z-index: -1;
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    height: 100%;
                    width: 100%;
                    clip-path: polygon(100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px, 10px 0);
                    background-color: $color-primary;
                }
                &::after {
                    content: "";
                    position: absolute;
                    width: calc(100% - 4px);
                    height: calc(100% - 4px);
                    top: 2px;
                    left: 2px;
                    clip-path: polygon(100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px, 10px 0);
                    background-color: $color-white;
                }
                img {
                    z-index: 1;
                    position: absolute;
                    width: calc(100% - 4px);
                    height: calc(100% - 4px);
                    top: 2px;
                    left: 2px;
                    -o-object-fit: cover;
                    object-fit: cover;
                    clip-path: polygon(100% 0, 100% calc(100% - 10px), calc(100% - 10px) 100%, 0 100%, 0 10px, 10px 0);
                }
                .user_image_btn {
                    z-index: 1;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    transform: translate(45%, 45%);
                    color: white;
                    height: 30px;
                    width: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    clip-path: polygon(100% 0, 100% calc(100% - 5px), calc(100% - 5px) 100%, 0 100%, 0 5px, 5px 0);
                    background-color: $color-primary;
                    &::before {
                        z-index: -1;
                        content: "";
                        position: absolute;
                        width: calc(100% - 4px);
                        height: calc(100% - 4px);
                        top: 2px;
                        left: 2px;
                        clip-path: polygon(100% 0, 100% calc(100% - 5px), calc(100% - 5px) 100%, 0 100%, 0 5px, 5px 0);
                        background-color: $color-tertiary;
                    }
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
            .form-row {
                display: flex;
                flex-direction: column;
                gap: $space-tiny;
                input {
                    position: relative;
                    flex: 1 0 0;
                    padding: $space-tiny;
                    border: 1px solid $color-tertiary;
                }
                .c-button {
                    margin: 0 auto;
                }
            }
        }
    }
}