.Page_Profil {

    .content {
        .profil__banner {
            background-color: $color-tertiary;
            margin: -$space-large;
            margin-bottom: $space;
            display: flex;
            padding: 0 $space-large;
            height: 150px;
            align-items: flex-end;
            gap: $space;
            .profil__picture {
                background-color: $color-white;
                border-radius: 50%;
                transform: translateY(50%);
                position: relative;
                height: 75px;
                width: 75px;
                img {
                    position: absolute;
                    width: calc(100% - 10px);
                    height: calc(100% - 10px);
                    top: 5px;
                    left: 5px;
                    -o-object-fit: cover;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
            .profil__name {
                background-color: $color-white;
                border-radius: 100px;
                padding: $space-tiny $space-small;
                transform: translateY(50%);
                height: fit-content;
            }
        }
    }
}