header {
    padding: $space;
    background-color: red;
    .img-background {
        background-color: $color-white;
        padding: $space-small $space;
        max-width: 200px;
        border-radius: $space;
        margin: 0 auto;
    }
}